* { margin:0px; padding:0px; }
	body { background-color:#CCC; background-image:url(../image/background/sahara_desert_sand_dunes-wide.jpg); background-size:cover; background-repeat:no-repeat; }
	#wrapper { width:1000px; height:600px; margin:auto; }
	#header { width:100%; height:100px; }
		#header h1 { margin-top:30px; font-size:56px; color:#333; font-family:"Coolvetica Rg"; letter-spacing:1px; }
		
	#menu { height:50px; background-color:#999; } 
		#menu ul li { list-style:none; float:left; width:250px; height:50px; }
		#menu ul li a { display:block; font-size:18px; text-align:center; color:#000; text-decoration:none; line-height:50px; font-family:"Quicksand";}
	
 	#content { height:600px; background-color:rgba(255,255,255,0.5); }
		#content_left { height:540px; width:640px; border-right:1px solid #CCC; float:left; padding:30px; }
			#content_left h1 { margin:10px; margin-bottom:10px; font-family:"Quicksand"; }
			#content_left img { float:left; margin-left:10px; margin-right:20px; }
			#content_left p { text-align:justify; }
			
		#content_right { height:540px; width:230px; float:right; text-align:center; padding:30px; }
			#content_right h1 { margin-bottom:20px; text-align:center; font-family:"Coolvetica Rg"; letter-spacing:5px; }
				#prof_pic { height:150px; }
				#author_name { line-height:30px; font-family:"Quicksand";}
				#author_lahir { color:#999; font-weight:lighter; line-height:30px; }
				#author_des { line-height:22px; }
			
	#footer { height:35px; background-color:#999; border-bottom:2px solid black; }
		#copy_id { float:right; color:#000; width:400px; line-height:35px; text-align:right; margin-right:20px; }
	
@font-face {
		font-family:"Coolvetica Rg"; 
			}
@font-face {
		font-family:"Quicksand";
			}

